html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  color: #8f2440;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
  font-family: "PT Sans", sans-serif;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

footer a {
  font-family: "PT serif", serif;
  font-size: 0.8rem;
}

nav ol {
  list-style-type: none;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

main p:first-child {
  font-weight: bold;
  font-size: 1.5rem;
}

.two {
  font-family: "PT Serif", serif;
}

blockquote {
  font-style: italic;
}

strong {
  font-weight: normal;
}

.listtwo a {
  color: #222;
  text-decoration: none;
  font-family: "PT Serif", serif;
}

.listtwo {
  list-style-type: lower-greek;
}

small {
  font-size: 0.8rem;
}
