body {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

a {
  color: #8f2440;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
  font-family: "PT Sans", sans-serif;
}

footer a {
font-family: "PT serif", serif;
}

nav ol {
  list-style-type: none;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

main p:first-child {
  font-weight: bold;
  font-size: 1.5rem;
}

.two {
  font-family: "PT Serif", serif;
}

blockquote {
  font-style: italic;
}

.listtwo a {
  color: #222;
  text-decoration: none;
  font-family: "PT Serif", serif;
}

.listtwo {
  list-style-type: lower-greek;
}
