body {
  background-color: #c9b5ab;
}

h1, h2 {
  color: #3f1622;
  font-family: PT Sans;
}

a:link {
  color: #8f2440;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
  font-family: PT Sans;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

main p:first-child {
  font-weight: bold;
  font-size: 1.5rem;
}

.two {
  font-family: 'PT Serif', serif;
}

blockquote {
  font-family: 'PT Serif', serif;
}
